{% extends '../base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <form role="form" method="post">
        {% csrf_token %}
        <div class="card z-index-0">
            <div class="card-header text-center pt-4">
                <h5>Adicionar proposta</h5>
                <span>Dados do contratante</span>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="form-group col-9 mb-3">
                        <label>Nome</label>
                        <input required type="text" class="form-control" name="client_name" aria-label="Nome">
                    </div>
                    <div class="form-group col-3">
                        <label>CPF</label>
                        <input required type="text" class="form-control" id="client_cpf" name="client_cpf" aria-label="CPF">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <label>Email</label>
                        <input required type="email" class="form-control" name="client_email" aria-label="Email">
                    </div>
                    <div class="form-group col-3">
                        <label>Telefone/whatsapp</label>
                        <input required type="text" class="form-control" name="client_phone_number" aria-label="Telefone">
                    </div>
                    <div class="form-group col-3">
                        <label>Data de nascimento</label>
                        <input required type="date" class="form-control" name="client_born_date" aria-label="Data de nascimento">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-5">
                        <label>Possui placa?</label>
                        <select class="form-control" name="client_has_license_plate">
                            <option selected value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                    <div class="form-group col-7">
                        <label>Relação do condutor principal com o segurado</label>
                        <select class="form-control" name="client_conductor_relation">
                            {% for relation in client_relation %}
                                <option value="{{relation.0}}">{{relation.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3" id="conductor_marital_status_0">
                    <div class="form-group">
                        <label>Estado civil do condutor principal</label>
                        <select class="form-control" name="conductor_marital_status">
                            {% for m_status in marital_status %}
                                <option value="{{m_status.0}}">{{m_status.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#step2" type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">Continuar</a>
                </div>
            </div>
        </div>
        <a href="#" id="step2"></a>
        <div class="card z-index-0 mt-3">
            <div class="card-header text-center pt-4">
                <h5>Adicionar proposta</h5>
                <span>Dados do condutor</span>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="form-group mb-3">
                        <label>Nome</label>
                        <input required type="text" class="form-control" name="conductor_name" aria-label="Nome">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-4">
                        <label>CPF</label>
                        <input required type="text" class="form-control" name="conductor_cpf" aria-label="CPF">
                    </div>
                    <div class="form-group col-4">
                        <label>Sexo</label>
                        <select class="form-control" name="conductor_gender">
                            {% for gender in genders %}
                                <option value="{{gender.0}}">{{gender.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label>Data de nascimento</label>
                        <input required type="date" class="form-control" name="conductor_born_date" aria-label="Data de nascimento">
                    </div>
                </div>
                <div class="row mb-3" id="conductor_marital_status_1" style="display: none;">
                    <div class="form-group">
                        <label>Estado civil do condutor principal</label>
                        <select class="form-control" name="conductor_marital_status">
                            {% for m_status in marital_status %}
                                <option value="{{m_status.0}}">{{m_status.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">
                        <label>Estender a(s) cobertura(s) contratada(s) para condutores na faixa etária dos 18 aos 26 anos</label>
                        <select class="form-control" name="conductor_extended_coverage">
                            {% for extend in extended_coverages %}
                                <option {% if extend.0 == 4 %}selected{% endif %} value="{{extend.0}}">{{extend.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#step3" type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">Continuar</a>
                </div>
            </div>
        </div>

        <a href="#" id="step3"></a>
        <div class="card z-index-0 mt-3">
            <div class="card-header text-center pt-4">
                <h5>Adicionar proposta</h5>
                <span>Utilização e guarda do veículo</span>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="form-group col-4">
                        <label>Informe o CEP de pernoite</label>
                        <input required type="text" class="form-control" name="storage_cep">
                    </div>
                    <div class="form-group col-4">
                        <label>Tipo de uso para o veículo</label>
                        <select class="form-control" name="use_type">
                            {% for use_type in use_types %}
                                <option value="{{use_type.0}}">{{use_type.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label>O veículo tem chassi remarcado?</label>
                        <select class="form-control" name="is_rebranded_chassis">
                            <option value="{{0}}">Não</option>
                            <option value="{{1}}">Sim</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-3">
                        <label>O veículo é alienado?</label>
                        <select class="form-control" name="is_alienado">
                            <option value="{{0}}">Não</option>
                            <option value="{{1}}">Sim</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label>É tunado ou rebaixado?</label>
                        <select class="form-control" name="is_customized">
                            <option value="{{0}}">Não</option>
                            <option value="{{1}}">Sim</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label>O veículo é blindado?</label>
                        <select class="form-control" name="is_armored">
                            <option value="{{0}}">Não</option>
                            <option value="{{1}}">Sim</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label>O veículo tem Kit Gás?</label>
                        <select class="form-control" name="have_gas_kit">
                            <option value="{{0}}">Não</option>
                            <option value="{{1}}">Sim</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-4">
                        <label>O veículo reside em:</label>
                        <select class="form-control" name="live_in">
                            {% for lives in live_in %}
                                <option value="{{lives.0}}">{{lives.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-8">
                        <label>Estaciona em garagem na residência ou em estacionamento protegido?</label>
                        <select class="form-control" name="storage_type">
                            {% for storage in storage_in %}
                                <option value="{{storage.0}}">{{storage.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-4">
                        <label>Usa para ir e voltar do trabalho?</label>
                        <select class="form-control" name="is_to_work">
                            {% for to_work_option in to_work_options %}
                                <option value="{{to_work_option.0}}">{{to_work_option.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-8">
                        <label>Usa para ir e voltar da escola/faculdade?</label>
                        <select class="form-control" name="is_to_college">
                            {% for to_college_option in to_college_options %}
                                <option value="{{to_college_option.0}}">{{to_college_option.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Enviar</button>
                </div>
            </div>
        </div>
    </form> 
</div>
<script type="text/javascript">
const client_conductor_relation = document.querySelector('select[name="client_conductor_relation"]')

client_conductor_relation.addEventListener('change', () => {
    const show_marital_status = Number(client_conductor_relation.value) > 1

    if(show_marital_status){
        document.querySelector('#conductor_marital_status_1').style.display = 'block'
        document.querySelector('#conductor_marital_status_0').style.display = 'none'
        return
    }

    document.querySelector('#conductor_marital_status_0').style.display = 'block'
    document.querySelector('#conductor_marital_status_1').style.display = 'none'

})
</script>
{% endblock content %}